<div class="content-slider">
    <div class="content-slider__one slide-1">
        <video class="video" id="video" preload="auto" autoplay="" loop="">
            <source src="/tmp/video.webm" type="video/webm" media="all">
            <source src="/tmp/video.mp4" type="video/mp4" media="all">
        </video>    
        <div class="slide-1__left">
            <div class="slide-1__left--top">Ульяновская<br>область</div>
            <div class="slide-1__left--bottom">откройте новые<br>
            <span>возможности</span><br>
            для вашего бизнеса</div>
        </div>
        <div class="slide-1__middle">
            <div class="slide-fact-one">
                <div class="slide-fact-one__top"><abbr>10</abbr>0</div>
                <div class="slide-fact-one__bottom">МЛРД. РУБЛЕЙ ЧАСТНЫХ ИНВЕСТИЦИЙ<br>В 2016 ГОДУ</div>
            </div>
            <div class="slide-fact-one">
                <div class="slide-fact-one__top"><abbr>58</abbr></div>
                <div class="slide-fact-one__bottom">ОТКРЫТО НОВЫХ<br>ЗАВОДОВ ЗА 5 ЛЕТ</div>
            </div>
            <div class="slide-fact-one">
                <div class="slide-fact-one__top"><abbr>35</abbr>0</div>
                <div class="slide-fact-one__bottom">ТЫСЯЧ КВ.М. ГОТОВЫХ ПРОМЫШЛЕННЫХ ПЛОЩАДЕЙ</div>
            </div>
            <div class="slide-fact-one">
                <div class="slide-fact-one__top"><abbr>26</abbr>00</div>
                <div class="slide-fact-one__bottom">ГЕКТАР ГОТОВЫХ ИНДУСТРИАЛЬНЫХ<br>ЗЕМЕЛЬ</div>
            </div>
        </div>
        <div class="slide-1__bottom">
            <a href="#message" class="open_modal">ПОЛУЧИТЬ ПРЕДЛОЖЕНИЕ</a>
            <p>В ответ мы пришлем индивидуальное предложение по размещению вашего производства на территории нашего региона<span>, включающее меры поддержки, анализ логистических возможностей, варианты участков и возможных партнеров.</span></p>
        </div>
    </div>
    <div class="content-slider__one slide-2">
        <div class="slide-2__title">экономия вашиХ затрат</div>
        <div class="slide-2__info">
            <div class="slide-2__center">
                <h2><div class="percent"><abbr>39</abbr></div><span>%</span></h2>
                <p>средняя экономия затрат при реализации проекта на нашей территории</p>
            </div>
            <div class="slide-2__left">
                <h2>0%</h2>
                <p>налоговые<br>каникулы до <abbr>1</abbr><abbr>5</abbr> лет</p>
            </div>
            <div class="slide-2__right">
                <h2>0%</h2>
                <p>ндс на территории<br>ПОЭЗ Ульяновск</p>
            </div>
            <div class="slide-2__left">
                <h2><abbr>22</abbr> <abbr>3</abbr><abbr>8</abbr><abbr>0</abbr></h2>
                <p>рублей средний уровень<br>заработной платы</p>
            </div>
            <div class="slide-2__right">
                <h2><span>от </span><abbr>6</abbr>%</h2>
                <p>годовых возможность<br>получения кредитов </p>
            </div>
            <div class="slide-2__left">
                <h3>низкие тарифы</h3>
                <p>от 2.7 рублей стоимость электроэнергии за 1 кВт</p>
            </div>
            <div class="slide-2__right">
                <h3>готовые площадки</h3>
                <p>с  транспортной и инженерной инфраструктурой</p>
            </div>
            <div class="clear"></div>
        </div>

        <div class="slide-2__slider">
            <div class="slide-2__slider-wrap owl-carousel">
                <div class="slide-2__slider-one">
                    <div class="slider__title">
                         «С самого начала реализации инвестиционного проекта Ульяновская область является для компании Bridgestone ярким примером стабильных взаимоотношений между государственными органами и компаниями, принявшими решение о ведении бизнеса в России».
                    </div>
                    <div class="slider__subtitle">
                         ХИРОМИ ТАНИГАВА, генеральный директор ООО «Бриджстоун Тайер Мануфэкчуринг СНГ», Япония
                    </div>
                </div>
                <div class="slide-2__slider-one">
                    <div class="slider__title">
                         «Мы довольны, что выбрали именно Ульяновскую область в качестве площадки для локализации завода. Причины простые: сегодня этот регион – промышленный лидер, здесь один из самых престижных технических университетов в России и серьезный человеческий ресурс».
                    </div>
                    <div class="slider__subtitle">
                         АРМАНДО ТАМЕС, CEO компании NEMAK, Мексика
                    </div>
                </div>
                <div class="slide-2__slider-one">
                    <div class="slider__title">
                         «Предприятие в Ульяновской области – самое новое и, соответственно, самое современное производство концерна DMG MORI в мире. Хочу выразить признательность Губернатору Сергею Морозову и Корпорации развития Ульяновской области за особое содействие в реализации нашего проекта».
                    </div>
                    <div class="slider__subtitle">
                         КРИСТИАН ТЁНЕС, председатель правления концерна DMG MORI AG, Япония-Германия
                    </div>
                </div>
                <div class="slide-2__slider-one">                       
                        <div class="slider__title">
                             «Мы долгие годы искали возможность размещения производства в России. После тщательного отбора возможных вариантов наиболее оптимальные условия по совокупности показателей мы выявили в Ульяновской области». <br>
                        </div>
                        <div class="slider__subtitle">
                             МИХАИЛ ВОЛКОВ, генеральный директор ООО «Шэффлер Мануфэкчеринг РУС», Германия
                        </div>
                </div>
            </div>
            <a href="#message" class="red-button open_modal">РАССЧИТАТЬ МЕРЫ ПОДДЕРЖКИ</a>
        </div>
        
    </div>
    <div class="content-slider__one slide-3">
        <div class="slide-3__title">выгодная логистика</div>
        <div class="slide-3-place">
            <div class="slide-3-place__top">
                <h3>Ульяновск</h3>
                <p>Крупнейший кранспортный узел<br>международного значения</p>
            </div>
            <a href="/place.html" class="slide-3-place__port">
                Уникальная портовая<br>особая экономическая зона
            </a><br>
            <a href="/place.html" class="slide-3-place__park">
                6 индустриальных парков
            </a>
        </div>
        <a href="#" class="slide-3-fakt">
            <div class="fakt-one">
                <div class="fakt-one__icon" style="background-position: 0 0"></div>
                <span>2 международных<br>аэропорта</span>
            </div>
            <div class="fakt-one">
                <div class="fakt-one__icon" style="background-position: 0 -55px"></div>
                <span>Куйбышевская железная дорога</span>
            </div>
            <div class="fakt-one">
                <div class="fakt-one__icon" style="background-position: 0 -110px"></div>
                <span>Волга (2 порта типа “река море”)</span>
            </div>
            <div class="fakt-one">
                <div class="fakt-one__icon" style="background-position: 0 -165px"></div>
                <span>Крупнейшие федеральные трассы (М5 и М7)</span>
            </div>
        </a>
        <div class="button-box"><a href="#message" class="blue-button personal-button open_modal" style="display: none">Узнать подробнее</a></div>
        <!-- <canvas id="canvas-map" width="736" height="690"></canvas> -->
        <div class="svg-wrap">
            <svg class="line-svg" width="736" height="690" viewBox="0 0 736 690" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <style>
                    path {
                        fill: none;
                        stroke: #fff;
                        stroke-width: 5;
                        stroke-linecap: round;
                        stroke-dasharray: 0, 10;
                    }
                </style>
            </svg>
        </div>
    </div>
    <div class="content-slider__one slide-4">
        <div class="slide-4__title">3 простых шага</div>
        <div class="step-slider">
            <div class="step-slider__title">Сопровождение проектов в режиме одного окна</div>
            <div class="step-slider__nav">
                <ol class="progress">
                    <li class="is-active">
                        <a href="#one"></a>
                        <span class="dott"></span>
                        Связаться с нами
                    </li>
                    <li class="progress__last">
                        <a href="#two"></a>
                        <span class="dott"></span>
                        Сопровождение проекта
                    </li>
                    <li class="progress__last">
                        <a href="#three"></a>
                        <span class="dott"></span>
                        Открытие предприятия
                    </li>
                </ol>
            </div>
            <div class="step-slider__wrap">
                <div class="step-slider__one" data-hash="one">
                    <div class="step-slider__one-title">ШАГ 1: Связаться с нами</div>
                    <div class="step-slider__text">
                        <div class="step-slider__text">
                            <ol>
                                <li>Проведем исследование рынка на предмет реализации Вашего делового потенциала как инвестора.</li>
                                <li>Предоставим Вам индивидуальное предложение:
                                    <ul>
                                        <li>об инфраструктурном и сырьевом потенциале Ульяновской области, основных отраслях промышленности;</li>
                                        <li>о мерах государственной поддержки предпринимательства;</li>
                                        <li>о налоговых преференциях на территории региона.</li>
                                    </ul>
                                </li>
                                <li>Поможем в выборе оптимальной стратегии для выхода на рынок.</li>
                                <li>Окажем содействие в поиске и подборе сырья, необходимого для производства конечного продукта.</li>
                                <li>Подберем для Вас производителей и поставщиков услуг, необходимых для реализации бизнес-проекта.</li>
                                <li>Организуем переговоры с ведомствами и государственными структурами по вопросам подготовки необходимой документально-правовой базы проекта.</li>
                                <li>Подберем варианты площадок для Вашего развития.</li>
                            </ol>
                        </div>

                    </div>
                </div>
                <div class="step-slider__one" data-hash="two">
                    <div class="step-slider__one-title">ШАГ 2: Сопровождение проекта</div>
                    <div class="step-slider__text">
                        <ol>
                            <li>Проведем исследование рынка на предмет реализации Вашего делового потенциала как инвестора.</li>
                            <li>Предоставим Вам индивидуальное предложение:
                                <ul>
                                    <li>об инфраструктурном и сырьевом потенциале Ульяновской области, основных отраслях промышленности;</li>
                                    <li>о мерах государственной поддержки предпринимательства;</li>
                                    <li>о налоговых преференциях на территории региона.</li>
                                </ul>
                            </li>
                            <li>Поможем в выборе оптимальной стратегии для выхода на рынок.</li>
                            <li>Окажем содействие в поиске и подборе сырья, необходимого для производства конечного продукта.</li>
                            <li>Подберем для Вас производителей и поставщиков услуг, необходимых для реализации бизнес-проекта.</li>
                            <li>Организуем переговоры с ведомствами и государственными структурами по вопросам подготовки необходимой документально-правовой базы проекта.</li>
                            <li>Подберем варианты площадок для Вашего развития.</li>
                        </ol>

                    </div>
                </div>
                <div class="step-slider__one" data-hash="three">
                    <div class="step-slider__one-title">ШАГ 3: Открытие предприятия</div>
                    <div class="step-slider__text">
                        <ol>
                            <li>Проведем исследование рынка на предмет реализации Вашего делового потенциала как инвестора.</li>
                            <li>Предоставим Вам индивидуальное предложение:
                                <ul>
                                    <li>об инфраструктурном и сырьевом потенциале Ульяновской области, основных отраслях промышленности;</li>
                                    <li>о мерах государственной поддержки предпринимательства;</li>
                                    <li>о налоговых преференциях на территории региона.</li>
                                </ul>
                            </li>
                            <li>Поможем в выборе оптимальной стратегии для выхода на рынок.</li>
                            <li>Окажем содействие в поиске и подборе сырья, необходимого для производства конечного продукта.</li>
                            <li>Подберем для Вас производителей и поставщиков услуг, необходимых для реализации бизнес-проекта.</li>
                            <li>Организуем переговоры с ведомствами и государственными структурами по вопросам подготовки необходимой документально-правовой базы проекта.</li>
                            <li>Подберем варианты площадок для Вашего развития.</li>
                        </ol>

                    </div>
                </div>
            </div>
        </div>
        <a href="#message" class="blue-button open_modal">СВЯЗАТЬСЯ С НАМИ</a>
    </div>
    <div class="content-slider__one slide-5">
        <div class="slide-2__title">кадровые компетенции.</div>
        <div class="slide-5__title"><strong><abbr>10</abbr> <div>00</div>0 <div>00</div>0 <div>00</div>0</strong> <span>руб.</span></div>
        <div class="slide-5__subtitle">ежегодные расходы бюджета Ульяновской<br> области на дальнейшее совершенстовование<br> системы подготовки кадров</div>
        <div class="personal">
            <div class="personal__one">
                <div class="personal__icon" style="background-image: url(/img/personal-icon.png); background-position: -1px 0"></div>
                <span>Система подготовки<br>кадров для промышленности</span>
            </div>
            <div class="personal__one">
                <div class="personal__icon" style="background-image: url(/img/personal-icon.png); background-position: -1px -60px"></div>
                <span>Центры целевой подготовки<br>для новых предприятий</span>
            </div>
            <div class="personal__one">
                <div class="personal__icon" style="background-image: url(/img/personal-icon.png); background-position: -1px -120px"></div>
                <span>17 университетов</span>
            </div>
            <div class="personal__one">
                <div class="personal__icon" style="background-image: url(/img/personal-icon.png); background-position: -1px -180px"></div>
                <span>35 колледжей<br>профессионального<br>образования</span>
            </div>
        </div>
        <a href="#message" class="blue-button personal-button open_modal">УЗНАТЬ О НАЛИЧИИ КАДРОВ</a>
    </div>
    <div class="content-slider__one slide-6">
        <div class="slide-2__title">Развитие инноваций</div>
        <div class="slide-6__top">
            <div class="slide-6__top-title">
                Поддержка Развития<br>
                <span>инновационных<br>проектов</span>
            </div>
            
            <div class="slide-6__top-subtitle">
                частные и государственные<br>лаборатории, R&D-центры<br>
                российских компаний и<br>международных корпораций
            </div>
            
        </div>

        <div class="slide-6__bottom">
            <div class="slide-6__bottom-title">2017 год</div>
            <div class="slide-6__bottom-subtitle">запуск первого<br>в россии<br>
            <span>ветропарка</span></div>
        </div>

            <div class="project-list">
                <div class="project-list-one project-list-one--1" style="top: 26px; right: 321px;">
                    <div class="project-list__name">НАНО ЦЕНТР</div>
                    <div class="project-list__year">2014</div>
                </div>
                <div class="project-list-one project-list-one--2" style="top: 78px; right: 337px;">
                    <div class="project-list__name">технокампус 2.0</div>
                    <div class="project-list__year">2017</div>
                </div>
                <div class="project-list-one project-list-one--3" style="top: 133px; right: 334px; width: 510px;">
                    <div class="project-list__name">технологическая долина 2.0</div>
                    <div class="project-list__year">2019</div>
                </div>
                <div class="project-list-one project-list-one--4" style="top: 190px; right: 314px;">
                    <div class="project-list__name">проект “сантор”</div>
                    <div class="project-list__year">2025</div>
                </div>
            </div>
        <a href="#" class="last-slide-button">
            <div class="last-slide-button__inn">загрузка<br>началась<span>УЗНАТЬ ПОДРОБНЕЕ</span></div>
        </a>
        <a href="#" class="blue-button">Хочу узнать больше</a>
    </div>
</div>
<div class="carusel-pager">
    <div class="carusel-pager-inn">
    
    </div>
</div>
