<div class="content-slider--inno">
    <div class="content-slider__one--inno innovasion-1">
        <div class="innovasion-fact">
            <div class="innovasion-fact-one">
                2.14
                <span>млн. руб</span>
                <div class="innovasion-fact-one__text">Совокупные инвестиции</div>
            </div>
            <div class="innovasion-fact-one">
            1.1
                <span>млн. руб</span>
                <div class="innovasion-fact-one__text">инвестиции в оборудование</div>
            </div>
            <div class="innovasion-fact-one">
                <span style="margin-top: 0;">более</span>
                100
                <div class="innovasion-fact-one__text" style="">реализовано проектов</div>
            </div>
        </div>
        <div class="content-slider-fact active">
            <div class="content-slider-fact__title">НАНОЦЕНТР УЛЬЯНОВСК</div>
            <div class="content-slider-fact__sub-title">СЕРИЙНОЕ СТРОИТЕЛЬСТВО ТЕХНОЛОГИЧЕСКИХ СТАРТАПОВ</div>
            <div class="content-slider-fact__close"></div>
            <div class="content-slider-fact__text" style="display: block;">
                <p>Площадка для создания и развития новых технологических стартапов, а также уникальный инженерный объект, в котором одновременно размещаются офисные помещения стартапов, лабораторные корпуса и опытное производство, основанное на новейшем технологическом оборудовании. Комплекс наноцентра размещен в индустриальном парке «Заволжье» и занимает территорию площадью около 6 000 кв. м.</p>
                <p>Проект открытия нанотехнологического центра в Ульяновске был отобран по итогам второго открытого конкурса по созданию наноцентров в регионах России в 2010 году. АО «Корпорация развития Ульяновской области» было признано одним из победителей данного конкурса и получило право на заключение инвестиционного соглашения с Фондом инфрастуктурных и образовательных программ (РОСНАНО).</p>

                <span>открыт <b>16 августа 2013</b></span>
            </div>
            <a href="#" class="content-slider-fact__file">Скачать презентацию Наноцентра Ульяновск</a>
        </div>

    </div>
    <div class="content-slider__one--inno innovasion-2">
        <div class="project">
            <div class="project-row">
                <a href="#project1" class="project-one" style="background-image: url(/tmp/inno-one.png);">
                    <div class="project-one__logo"><img src="/tmp/inno-logo.png" alt=""></div>
                    <div class="project-one__descr">Революционный подход к ускорению научно-исследовательских работ в сфере функциональных тонкопленочных покрытий, внедрению инноваций и выводу продукции на рынок </div>
                </a>
                <a href="#project2" class="project-one" style="background-image: url(/tmp/inno-one.png);">
                    <div class="project-one__logo"><img src="/tmp/inno-logo.png" alt=""></div>
                    <div class="project-one__descr">Революционный подход к ускорению научно-исследовательских работ в сфере функциональных тонкопленочных покрытий, внедрению инноваций и выводу продукции на рынок </div>
                </a>
                <a href="#project3" class="project-one" style="background-image: url(/tmp/inno-one.png);">
                    <div class="project-one__logo"><img src="/tmp/inno-logo.png" alt=""></div>
                    <div class="project-one__descr">Революционный подход к ускорению научно-исследовательских работ в сфере функциональных тонкопленочных покрытий, внедрению инноваций и выводу продукции на рынок </div>
                </a>
                <a href="#project4" class="project-one" style="background-image: url(/tmp/inno-one.png);">
                    <div class="project-one__logo"><img src="/tmp/inno-logo.png" alt=""></div>
                    <div class="project-one__descr">Революционный подход к ускорению научно-исследовательских работ в сфере функциональных тонкопленочных покрытий, внедрению инноваций и выводу продукции на рынок </div>
                </a>
            </div>
            <div class="project-row">
                
            </div>
            <div class="project-row">
                
            </div>
        </div>
    </div>
    <div class="content-slider__one--inno innovasion-3">
        <div class="content-slider-fact content-slider-fact--left active">
            <div class="content-slider-fact__title">ТЕХНОКАМПУС 2.0</div>
            <div class="content-slider-fact__close"></div>
            <div class="content-slider-fact__text" style="display: block;">
                <p>Это особая экосистема, «сердце» экономики знаний и технологического предпринимательства, где знания превращаются в бизнес и следующий шаг развития Наноцентра Ульяновск. Предпологается концентрация на относительно небольшой территории образовательных, научных, исследовательских и бизнес-ресурсов, что  будет обеспечивать постоянное взаимодействие, порождая синергетический эффект, реализующийся в новых идеях, проектах и стартапах.</p>

                <p><b>Образование:</b> детский технопарк, технический колледж, межрегиональный центр компетенций, объединенный университетский кампус.</p>

                <p><b>Исследования и разработки:</b> частные и государственные лаборатории, R&D-центры
                российских компаний и международных корпораций.</p>

                <p><b>Технологическое предпринимательство: </b>университетский центр трансфера технологий,
                инкубатор стартапов, венчурный бизнес, пилотное производство, технологические
                компании.</p>
            </div>
        </div>

    </div>

    <div class="content-slider__one--inno innovasion-4">
        <div class="innovasion-4__title">Стань резидентом <b>ТЕхнокампус 2.0</b></div>
        <div class="innovasion-4__subtitle">Кооперация компетенций на одной площадке</div>
        <div class="innovasion-4__list">
            <p>Пилотные производства</p>
            <p>Специализированные<br>
            офисные помещения</p>
            <p>Лаборатории</p>
            <p>IT инфраструктура</p>
            <p>социальная инфраструктура</p>
            <p>образовательная инфраструктура</p>
        
            <div class="innovasion-4__list-title">Уже запущены:</div>

            <p>Центр компетенций<br>ветроэненргетики </p>
            <p>Центр компетенций<br>AFV (будущая мобильность)</p>
            <p>Центр компетенций<br>прогностической медицинской<br>
            диагностики – электронное здоровье </p>

            <a href="#">Скачать презентацию проекта</a>
        </div>
        <div class="innovasion-4__more">
            Чтобы стать резидентом<br>
            или принять участие в проекте<br>
            <a href="#order" class="open_modal">Свяжитесь с нами</a>
        </div>

    </div>

    <div class="content-slider__one--inno innovasion-5">
        <div class="content-slider-fact active">
            <div class="content-slider-fact__title">ТЕХНОЛОГИЧЕСКАЯ ДОЛИНА 2.0 - САНТОР</div>
            <div class="content-slider-fact__close"></div>
            <div class="content-slider-fact__text" style="display: block;">
                <p><b>Технологическая долина 2.0</b> – это «обрамление» Технокампуса, состоящее из крупных
                индустриальных игроков (площадки ПОЭЗ, индустриальных парков «Заволжье» и АО
                «Авиастар-СП», территория между ними, а также индустриальный парк «Димитровград»). Индустрия будет создавать спрос на разработки и стартапы Технокампуса. В
                долине будет также осуществляться масштабирование бизнесов из Технокампуса.</p>

                <p><b>Город “Сантор”</b> – замыкающий элемент системы – комфортное жилое пространство, обеспечивающее высокое качество жизни и привлекающее специалистов и команды
                инноваторов из других регионов России и из-за рубежа. В будущем Сантор планируется преобразовать в единое муниципальное образование, включающее и территории
                Технологической долины 2.0, с целью использования налогов резидентов долины как
                экономической базы для развития Сантора.</p>

            </div>
            <a href="#" class="content-slider-fact__file">Скачать презентацию проекта </a>
        </div>

    </div>
</div>
<div class="carusel-pager">
    <div class="carusel-pager-inn"></div>
</div>