<section class="media-list">
    <div class="media-list-row">
        <div class="media-list-row__title">Презентации</div>
        <div class="media-list-inn">
            <a href="#" class="media-list__one" style="background-image: url(/tmp/media.jpg);">презентация инвестиционного и экономического потенциала ульяновской области на русском языке<span>PDF</span></a>
            <a href="#" class="media-list__one">презентация инвестиционного и экономического потенциала ульяновской области на русском языке<span>PDF</span></a>
            <a href="#" class="media-list__one media-list__one--advanced">презентация инвестиционного и экономического потенциала ульяновской области на русском языке<span>PDF</span></a>
            <a href="#" class="media-list__one">презентация инвестиционного и экономического потенциала ульяновской области на русском языке<span>PDF</span></a>
            <a href="#" class="media-list__one">презентация инвестиционного и экономического потенциала ульяновской области на русском языке<span>PDF</span></a>
        </div>
    </div>
    <div class="media-list-row">
        <div class="media-list-row__title">вестник инвестора</div>
        <div class="media-list-inn">
            <a href="#" class="media-list__one">презентация инвестиционного и экономического потенциала ульяновской области на русском языке<span>PDF</span></a>
            <a href="#" class="media-list__one media-list__one--advanced">презентация инвестиционного и экономического потенциала ульяновской области на русском языке<span>PDF</span></a>
            <a href="#" class="media-list__one">презентация инвестиционного и экономического потенциала ульяновской области на русском языке<span>PDF</span></a>
            <a href="#" class="media-list__one">презентация инвестиционного и экономического потенциала ульяновской области на русском языке<span>PDF</span></a>
            <a href="#" class="media-list__one">презентация инвестиционного и экономического потенциала ульяновской области на русском языке<span>PDF</span></a>
             <a href="#" class="media-list__one media-list__one--advanced">презентация инвестиционного и экономического потенциала ульяновской области на русском языке<span>PDF</span></a>
        </div>
    </div>
    <div class="media-list-row">
        <div class="media-list-row__title">Законы</div>
        <div class="media-list-inn">
            <a href="#" class="media-list__one">Закон Ульяновской области №019-ЗО от 15.03.2005г. "О развитии инвестиционной деятельности на территории Ульяновской области"<span>DOC</span></a>
            <a href="#" class="media-list__one">Закон Ульяновской области №019-ЗО от 15.03.2005г. "О развитии инвестиционной деятельности на территории Ульяновской области"<span>DOC</span></a>
            <a href="#" class="media-list__one">Закон Ульяновской области №019-ЗО от 15.03.2005г. "О развитии инвестиционной деятельности на территории Ульяновской области"<span>DOC</span></a>
            <a href="#" class="media-list__one">Закон Ульяновской области №019-ЗО от 15.03.2005г. "О развитии инвестиционной деятельности на территории Ульяновской области"<span>DOC</span></a>
            <a href="#" class="media-list__one">Закон Ульяновской области №019-ЗО от 15.03.2005г. "О развитии инвестиционной деятельности на территории Ульяновской области"<span>DOC</span></a>
        </div>
    </div>
</section>