<div id="overlay">
    <div class="modal" id="message">
        <div class="modal__body">
            <div class="modal__title">Отправьте Ваш вопрос и<br>мы обязательно ответим</div>
            <div class="modal__form">
                <form action="" >
                    <input type="text" name="name" placeholder="Ваше имя">
                    <input type="text" name="email" placeholder="электронная почта">
                    <textarea name="message" placeholder="Ваш вопрос"></textarea>
                    <button>ОТПРАВИТЬ</button>
                </form>
            </div>
            <div class="modal__close">Закрыть</div>
        </div>
    </div>

    <div class="modal" id="order">
        <div class="modal__body">
            <div class="modal__title">Наш менеджер перезвонит вам<br>всего через 30 секунд</div>
            <div class="modal__form">
                <form action="" >
                    <input type="text" name="name" placeholder="Ваше имя">
                    <input type="text" name="phone" placeholder="+7 (_ _ _) _ _ _ _ _  _ _">
                    <button>ОТПРАВИТЬ</button>
                </form>
            </div>
            <div class="modal__close">Закрыть</div>
        </div>
    </div>
</div>