<div class="news-one" style="background-image: url(/tmp/news.jpg)">
    <div class="news-one__photo">17 <span>фото</span></div>
        <div class="news-one__panel">
            <div class="news-one__title">В Ульяновской области открыт первый в Приволжском федеральном округе вертолетный центр малой авиации</div>
            <div class="news-one__descr">Данные рейтинга приведены на основании открытых источников и ведомственной статистики (до 1 января 2016 года). Итоговый балл складывался из пяти критериев: рождаемость, прирост населения, число детей на одну женщину, количество искусственных...</div>
            <a href="#news1" class="news-one__more">Подробно</a>
            <div class="news-one__date">26 января 2017</div>
            <div class="news-one__share">
                <div class="q-socialblock q-socblock12  q-rond q-normal q-padding1 q-vertical">
                    <div class="q-button q-fb" onclick="Share.facebook()"></div>
                    <div class="q-button q-vk" onclick="Share.vkontakte()"></div>
                    <div class="q-button q-tw" onclick="Share.twitter()"></div>
                </div>
            </div>
        </div>
</div>
<div class="news-one" style="background-image: url(/tmp/news.jpg)">
    <div class="news-one__photo">17 <span>фото</span></div>
        <div class="news-one__panel">
            <div class="news-one__title">В Ульяновской области открыт первый в Приволжском федеральном округе вертолетный центр малой авиации</div>
            <div class="news-one__descr">Данные рейтинга приведены на основании открытых источников и ведомственной статистики (до 1 января 2016 года). Итоговый балл складывался из пяти критериев: рождаемость, прирост населения, число детей на одну женщину, количество искусственных...</div>
            <a href="#news1" class="news-one__more open_modal">Подробно</a>
            <div class="news-one__date">26 января 2017</div>
            <div class="news-one__share">
                <div class="q-socialblock q-socblock12  q-rond q-normal q-padding1 q-vertical">
                    <div class="q-button q-fb" onclick="Share.facebook()"></div>
                    <div class="q-button q-vk" onclick="Share.vkontakte()"></div>
                    <div class="q-button q-tw" onclick="Share.twitter()"></div>
                </div>
            </div>
        </div>
</div>
<div class="news-one" style="background-image: url(/tmp/news.jpg)">
    <div class="news-one__photo">17 <span>фото</span></div>
        <div class="news-one__panel">
            <div class="news-one__title">В Ульяновской области открыт первый в Приволжском федеральном округе вертолетный центр малой авиации</div>
            <div class="news-one__descr">Данные рейтинга приведены на основании открытых источников и ведомственной статистики (до 1 января 2016 года). Итоговый балл складывался из пяти критериев: рождаемость, прирост населения, число детей на одну женщину, количество искусственных...</div>
            <a href="#news1" class="news-one__more open_modal">Подробно</a>
            <div class="news-one__date">26 января 2017</div>
            <div class="news-one__share">
                <div class="q-socialblock q-socblock12  q-rond q-normal q-padding1 q-vertical">
                    <div class="q-button q-fb" onclick="Share.facebook()"></div>
                    <div class="q-button q-vk" onclick="Share.vkontakte()"></div>
                    <div class="q-button q-tw" onclick="Share.twitter()"></div>
                </div>
            </div>
        </div>
</div>
<div class="news-one" style="background-image: url(/tmp/news.jpg)">
    <div class="news-one__photo">17 <span>фото</span></div>
        <div class="news-one__panel">
            <div class="news-one__title">В Ульяновской области открыт первый в Приволжском федеральном округе вертолетный центр малой авиации</div>
            <div class="news-one__descr">Данные рейтинга приведены на основании открытых источников и ведомственной статистики (до 1 января 2016 года). Итоговый балл складывался из пяти критериев: рождаемость, прирост населения, число детей на одну женщину, количество искусственных...</div>
            <a href="#news1" class="news-one__more open_modal">Подробно</a>
            <div class="news-one__date">26 января 2017</div>
            <div class="news-one__share">
                <div class="q-socialblock q-socblock12  q-rond q-normal q-padding1 q-vertical">
                    <div class="q-button q-fb" onclick="Share.facebook()"></div>
                    <div class="q-button q-vk" onclick="Share.vkontakte()"></div>
                    <div class="q-button q-tw" onclick="Share.twitter()"></div>
                </div>
            </div>
        </div>
</div>
<div class="news-one" style="background-image: url(/tmp/news.jpg)">
    <div class="news-one__photo">17 <span>фото</span></div>
        <div class="news-one__panel">
            <div class="news-one__title">В Ульяновской области открыт первый в Приволжском федеральном округе вертолетный центр малой авиации</div>
            <div class="news-one__descr">Данные рейтинга приведены на основании открытых источников и ведомственной статистики (до 1 января 2016 года). Итоговый балл складывался из пяти критериев: рождаемость, прирост населения, число детей на одну женщину, количество искусственных...</div>
            <a href="#news1" class="news-one__more open_modal">Подробно</a>
            <div class="news-one__date">26 января 2017</div>
            <div class="news-one__share">
                <button class="news-one__share-one">+В</button>
                <button class="news-one__share-one">+t</button>
                <button class="news-one__share-one">+f</button>
            </div>
        </div>
</div>
<div class="news-one" style="background-image: url(/tmp/news.jpg)">
    <div class="news-one__photo">17 <span>фото</span></div>
        <div class="news-one__panel">
            <div class="news-one__title">В Ульяновской области открыт первый в Приволжском федеральном округе вертолетный центр малой авиации</div>
            <div class="news-one__descr">Данные рейтинга приведены на основании открытых источников и ведомственной статистики (до 1 января 2016 года). Итоговый балл складывался из пяти критериев: рождаемость, прирост населения, число детей на одну женщину, количество искусственных...</div>
            <a href="#news1" class="news-one__more open_modal">Подробно</a>
            <div class="news-one__date">26 января 2017</div>
            <div class="news-one__share">
                <button class="news-one__share-one">+В</button>
                <button class="news-one__share-one">+t</button>
                <button class="news-one__share-one">+f</button>
            </div>
        </div>
</div>