<div class="place-map">
    <div class="place-descr-top">
        <div class="place-descr__one">
            Сельскох площади:
            <span>450 000 га</span>
        </div>
        <div class="place-descr__one">
            Промышленные земли:
            <span>2 800 ГА</span>
        </div>
        <div class="place-descr__one">
            Производственные корпуса:
            <span>350 000 м<sup>2</sup></span>
        </div>
    </div>

    <div class="place-map-inn">
        <img src="/img/map.png" alt="">
        <a href="#mark1" class="map-mark map-mark--1">
            <div class="map-mark__top">инза</div>
            <div class="map-mark__bottom">индустриальный парк</div>
        </a>
        <a href="#mark2" class="map-mark map-mark--2">
            <div class="map-mark__top">Новоспасское</div>
            <div class="map-mark__bottom">индустриальный парк</div>
        </a>
        <a href="#mark3" class="map-mark map-mark--3">
            <div class="map-mark__top">НОВОУЛЬЯНОВСК</div>
            <div class="map-mark__bottom">промышленная зона</div>
        </a>
        <a href="#mark4" class="map-mark map-mark--4">
            <div class="map-mark__top">Дега карлинская</div>
            <div class="map-mark__bottom">промышленная зона</div>
        </a>
        <a href="#mark5" class="map-mark map-mark--5">
            <div class="map-mark__top">Заволжье</div>
            <div class="map-mark__bottom">индустриальный парк</div>
        </a>
        <a href="#mark6" class="map-mark map-mark--6">
            <div class="map-mark__top">Портовая особая<br>экономическая зона</div>
        </a>
        <a href="#mark7" class="map-mark map-mark--7">
            <div class="map-mark__top">ДААЗ</div>
            <div class="map-mark__bottom">индустриальный парк</div>
        </a>
        <a href="#mark8" class="map-mark map-mark--8">
            <div class="map-mark__top">октябрьская</div>
            <div class="map-mark__bottom">промышленная зона</div>
        </a>
    </div>

    
    <div class="place-descr">
        <a class="place-descr__order open_modal" href="#message">подобрать варианты</a>
        <p>В ответ мы пришлем индивидуальное предложение по размещению вашего производства на территории нашего региона, включающее меры поддержки, анализ логистических возможностей, варианты участков и возможных партнеров.</p>
    </div>
</div>