<div class="place-list">
    <div class="place-list-inn clearfix">
        <a href="#mark1" class="place-list-one" style="background-image: url(/tmp/place-slider-1.png);">
            <div class="place-list-panel" >
                <div class="place-list__top">инза</div>
                <div class="place-list__bottom">индустриальный парк</div>
            </div>
        </a>
        <a href="#mark2" class="place-list-one" style="background-image: url(/tmp/place-slider-2.png);">
            <div class="place-list-panel" >
                <div class="place-list__top">инза</div>
                <div class="place-list__bottom">индустриальный парк</div>
            </div>
        </a>
        <a href="#mark3" class="place-list-one" style="background-image: url(/tmp/place-slider-3.png);">
            <div class="place-list-panel">
                <div class="place-list__top">инза</div>
                <div class="place-list__bottom">индустриальный парк</div>
            </div>
        </a>
        <a href="#mark4" class="place-list-one" style="background-image: url(/tmp/place-slider-1.png);">
            <div class="place-list-panel" >
                <div class="place-list__top">инза</div>
                <div class="place-list__bottom">индустриальный парк</div>
            </div>
        </a>
        <a href="#mark5" class="place-list-one" style="background-image: url(/tmp/place-slider-2.png);">
            <div class="place-list-panel" >
                <div class="place-list__top">инза</div>
                <div class="place-list__bottom">индустриальный парк</div>
            </div>
        </a>
        <a href="#mark6" class="place-list-one" style="background-image: url(/tmp/place-slider-3.png);">
            <div class="place-list-panel" >
                <div class="place-list__top">инза</div>
                <div class="place-list__bottom">индустриальный парк</div>
            </div>
        </a>
            
    </div>
</div>
//= place-detail.html