<div class="place-overlay">
    <div class="place-detail">
        <div class="place-detail-wrap">
            <div class="place-one" data-hash="mark1">
                <div class="place-one-top">
                    <div class="place-one__title">Индустриальный парк инза</div>
                    <div class="place-options">
                        <div class="place-options__one">
                            706,2 га
                            <span>общая площадь</span>
                        </div>
                        <div class="place-options__one">
                            331,6 га
                            <span>свободная площадь</span>
                        </div>
                        <div class="place-options__one">
                            24
                            <span>резидента</span>
                        </div>
                        <div class="place-options__one">
                            <div class="place-options__icon place-options__icon--air"></div>
                            <div class="place-options__icon place-options__icon--train"></div>
                            <div class="place-options__icon place-options__icon--sea"></div>
                            <div class="place-options__icon place-options__icon--track"></div>
                            <span>логистика</span>
                        </div>
                        <div class="place-options__one">
                            <div class="place-options__icon place-options__icon--em"></div>
                            <div class="place-options__icon place-options__icon--water"></div>
                            <div class="place-options__icon place-options__icon--road"></div>
                            <div class="place-options__icon place-options__icon--gas"></div>
                            <div class="place-options__icon place-options__icon--light"></div>
                            <span>готовая инфраструктура</span>
                        </div>
                    </div>
                    <div class="place-one__close">Х</div>
                </div>
                <div class="place-one-slider">
                    <img src="/tmp/place-slider-1.png" alt="">
                    <img src="/tmp/place-slider-2.png" alt="">
                    <img src="/tmp/place-slider-3.png" alt="">
                </div>
                <div class="place-one__text">
                    <p>Промышленная зона «Заволжье» - площадка с централизованной современной инженерной и транспортной инфраструктурой под размещение производств в Заволжском районе Ульяновска.</p>
                     <p>На территории «Заволжья» осуществляется реализация 19 инвестиционных проектов российских и зарубежных компаний с объёмом инвестиций более 44,6 млрд рублей. На 1 рубль бюджетных вложений в инфраструктуру промзоны приходится 18 рублей частных инвестиций и 7,55 рублей налоговых платежей.</p> 
                     <p>Парк сертифицирован как действующий индустриальный парк Ассоциацией индустриальных парков России.</p>
                     <p>Проект планировки парка разработан международной проектной  компанией “Assmann Beraten + Planen” (Германия), имеющей многолетний опыт планирования территорий промышленных предприятий в России и за рубежом. </p>
                </div>
            </div>
            <div class="place-one" data-hash="mark2">
                <div class="place-one-top">
                    <div class="place-one__title">Новоспасский индустриальный парк</div>
                    <div class="place-options">
                        <div class="place-options__one">
                            706,2 га
                            <span>общая площадь</span>
                        </div>
                        <div class="place-options__one">
                            331,6 га
                            <span>свободная площадь</span>
                        </div>
                        <div class="place-options__one">
                            24
                            <span>резидента</span>
                        </div>
                        <div class="place-options__one">
                            <div class="place-options__icon place-options__icon--air"></div>
                            <div class="place-options__icon place-options__icon--train"></div>
                            <div class="place-options__icon place-options__icon--sea"></div>
                            <div class="place-options__icon place-options__icon--track"></div>
                            <span>логистика</span>
                        </div>
                        <div class="place-options__one">
                            <div class="place-options__icon place-options__icon--em"></div>
                            <div class="place-options__icon place-options__icon--water"></div>
                            <div class="place-options__icon place-options__icon--road"></div>
                            <div class="place-options__icon place-options__icon--gas"></div>
                            <div class="place-options__icon place-options__icon--light"></div>
                            <span>готовая инфраструктура</span>
                        </div>
                    </div>
                    <div class="place-one__close">Х</div>
                </div>
                <div class="place-one-slider">
                    <img src="/tmp/place-slider-1.png" alt="">
                    <img src="/tmp/place-slider-2.png" alt="">
                    <img src="/tmp/place-slider-3.png" alt="">
                </div>
                <div class="place-one__text">
                    <p>Промышленная зона «Заволжье» - площадка с централизованной современной инженерной и транспортной инфраструктурой под размещение производств в Заволжском районе Ульяновска.</p>
                     <p>На территории «Заволжья» осуществляется реализация 19 инвестиционных проектов российских и зарубежных компаний с объёмом инвестиций более 44,6 млрд рублей. На 1 рубль бюджетных вложений в инфраструктуру промзоны приходится 18 рублей частных инвестиций и 7,55 рублей налоговых платежей.</p> 
                     <p>Парк сертифицирован как действующий индустриальный парк Ассоциацией индустриальных парков России.</p>
                     <p>Проект планировки парка разработан международной проектной  компанией “Assmann Beraten + Planen” (Германия), имеющей многолетний опыт планирования территорий промышленных предприятий в России и за рубежом. </p>
                </div>
            </div>
            <div class="place-one" data-hash="mark3">
                <div class="place-one-top">
                    <div class="place-one__title">НОВОУЛЬЯНОВСКая промышленная зона</div>
                    <div class="place-options">
                        <div class="place-options__one">
                            706,2 га
                            <span>общая площадь</span>
                        </div>
                        <div class="place-options__one">
                            331,6 га
                            <span>свободная площадь</span>
                        </div>
                        <div class="place-options__one">
                            24
                            <span>резидента</span>
                        </div>
                        <div class="place-options__one">
                            <div class="place-options__icon place-options__icon--air"></div>
                            <div class="place-options__icon place-options__icon--train"></div>
                            <div class="place-options__icon place-options__icon--sea"></div>
                            <div class="place-options__icon place-options__icon--track"></div>
                            <span>логистика</span>
                        </div>
                        <div class="place-options__one">
                            <div class="place-options__icon place-options__icon--em"></div>
                            <div class="place-options__icon place-options__icon--water"></div>
                            <div class="place-options__icon place-options__icon--road"></div>
                            <div class="place-options__icon place-options__icon--gas"></div>
                            <div class="place-options__icon place-options__icon--light"></div>
                            <span>готовая инфраструктура</span>
                        </div>
                    </div>
                    <div class="place-one__close">Х</div>
                </div>
                <div class="place-one-slider">
                    
                </div>
                <div class="place-one__text">
                    <p>Промышленная зона «Заволжье» - площадка с централизованной современной инженерной и транспортной инфраструктурой под размещение производств в Заволжском районе Ульяновска.</p>
                     <p>На территории «Заволжья» осуществляется реализация 19 инвестиционных проектов российских и зарубежных компаний с объёмом инвестиций более 44,6 млрд рублей. На 1 рубль бюджетных вложений в инфраструктуру промзоны приходится 18 рублей частных инвестиций и 7,55 рублей налоговых платежей.</p> 
                     <p>Парк сертифицирован как действующий индустриальный парк Ассоциацией индустриальных парков России.</p>
                     <p>Проект планировки парка разработан международной проектной  компанией “Assmann Beraten + Planen” (Германия), имеющей многолетний опыт планирования территорий промышленных предприятий в России и за рубежом. </p>
                </div>
            </div>
            <div class="place-one" data-hash="mark4">
                <div class="place-one-top">
                    <div class="place-one__title">Дега карлинская промышленная зона</div>
                    <div class="place-options">
                        <div class="place-options__one">
                            706,2 га
                            <span>общая площадь</span>
                        </div>
                        <div class="place-options__one">
                            331,6 га
                            <span>свободная площадь</span>
                        </div>
                        <div class="place-options__one">
                            24
                            <span>резидента</span>
                        </div>
                        <div class="place-options__one">
                            <div class="place-options__icon place-options__icon--air"></div>
                            <div class="place-options__icon place-options__icon--train"></div>
                            <div class="place-options__icon place-options__icon--sea"></div>
                            <div class="place-options__icon place-options__icon--track"></div>
                            <span>логистика</span>
                        </div>
                        <div class="place-options__one">
                            <div class="place-options__icon place-options__icon--em"></div>
                            <div class="place-options__icon place-options__icon--water"></div>
                            <div class="place-options__icon place-options__icon--road"></div>
                            <div class="place-options__icon place-options__icon--gas"></div>
                            <div class="place-options__icon place-options__icon--light"></div>
                            <span>готовая инфраструктура</span>
                        </div>
                    </div>
                    <div class="place-one__close">Х</div>
                </div>
                <div class="place-one-slider">
                    <img src="/tmp/place-slider-1.png" alt="">
                    <img src="/tmp/place-slider-2.png" alt="">
                    <img src="/tmp/place-slider-3.png" alt="">
                </div>
                <div class="place-one__text">
                    <p>Промышленная зона «Заволжье» - площадка с централизованной современной инженерной и транспортной инфраструктурой под размещение производств в Заволжском районе Ульяновска.</p>
                     <p>На территории «Заволжья» осуществляется реализация 19 инвестиционных проектов российских и зарубежных компаний с объёмом инвестиций более 44,6 млрд рублей. На 1 рубль бюджетных вложений в инфраструктуру промзоны приходится 18 рублей частных инвестиций и 7,55 рублей налоговых платежей.</p> 
                     <p>Парк сертифицирован как действующий индустриальный парк Ассоциацией индустриальных парков России.</p>
                     <p>Проект планировки парка разработан международной проектной  компанией “Assmann Beraten + Planen” (Германия), имеющей многолетний опыт планирования территорий промышленных предприятий в России и за рубежом. </p>
                </div>
            </div>
            <div class="place-one" data-hash="mark5">
                <div class="place-one-top">
                    <div class="place-one__title">индустриальный парк Заволжье промышленная зона</div>
                    <div class="place-options">
                        <div class="place-options__one">
                            706,2 га
                            <span>общая площадь</span>
                        </div>
                        <div class="place-options__one">
                            331,6 га
                            <span>свободная площадь</span>
                        </div>
                        <div class="place-options__one">
                            24
                            <span>резидента</span>
                        </div>
                        <div class="place-options__one">
                            <div class="place-options__icon place-options__icon--air"></div>
                            <div class="place-options__icon place-options__icon--train"></div>
                            <div class="place-options__icon place-options__icon--sea"></div>
                            <div class="place-options__icon place-options__icon--track"></div>
                            <span>логистика</span>
                        </div>
                        <div class="place-options__one">
                            <div class="place-options__icon place-options__icon--em"></div>
                            <div class="place-options__icon place-options__icon--water"></div>
                            <div class="place-options__icon place-options__icon--road"></div>
                            <div class="place-options__icon place-options__icon--gas"></div>
                            <div class="place-options__icon place-options__icon--light"></div>
                            <span>готовая инфраструктура</span>
                        </div>
                    </div>
                    <div class="place-one__close">Х</div>
                </div>
                <div class="place-one-slider">
                    <img src="/tmp/place-slider-1.png" alt="">
                    <img src="/tmp/place-slider-2.png" alt="">
                    <img src="/tmp/place-slider-3.png" alt="">
                </div>
                <div class="place-one__text">
                    <p>Промышленная зона «Заволжье» - площадка с централизованной современной инженерной и транспортной инфраструктурой под размещение производств в Заволжском районе Ульяновска.</p>
                     <p>На территории «Заволжья» осуществляется реализация 19 инвестиционных проектов российских и зарубежных компаний с объёмом инвестиций более 44,6 млрд рублей. На 1 рубль бюджетных вложений в инфраструктуру промзоны приходится 18 рублей частных инвестиций и 7,55 рублей налоговых платежей.</p> 
                     <p>Парк сертифицирован как действующий индустриальный парк Ассоциацией индустриальных парков России.</p>
                     <p>Проект планировки парка разработан международной проектной  компанией “Assmann Beraten + Planen” (Германия), имеющей многолетний опыт планирования территорий промышленных предприятий в России и за рубежом. </p>
                </div>
            </div>
            <div class="place-one" data-hash="mark6">
                <div class="place-one-top">
                    <div class="place-one__title">Портовая особая экономическая зона</div>
                    <div class="place-options">
                        <div class="place-options__one">
                            706,2 га
                            <span>общая площадь</span>
                        </div>
                        <div class="place-options__one">
                            331,6 га
                            <span>свободная площадь</span>
                        </div>
                        <div class="place-options__one">
                            24
                            <span>резидента</span>
                        </div>
                        <div class="place-options__one">
                            <div class="place-options__icon place-options__icon--air"></div>
                            <div class="place-options__icon place-options__icon--train"></div>
                            <div class="place-options__icon place-options__icon--sea"></div>
                            <div class="place-options__icon place-options__icon--track"></div>
                            <span>логистика</span>
                        </div>
                        <div class="place-options__one">
                            <div class="place-options__icon place-options__icon--em"></div>
                            <div class="place-options__icon place-options__icon--water"></div>
                            <div class="place-options__icon place-options__icon--road"></div>
                            <div class="place-options__icon place-options__icon--gas"></div>
                            <div class="place-options__icon place-options__icon--light"></div>
                            <span>готовая инфраструктура</span>
                        </div>
                    </div>
                    <div class="place-one__close">Х</div>
                </div>
                <div class="place-one-slider">
                    <img src="/tmp/place-slider-1.png" alt="">
                    <img src="/tmp/place-slider-2.png" alt="">
                    <img src="/tmp/place-slider-3.png" alt="">
                </div>
                <div class="place-one__text">
                    <p>Промышленная зона «Заволжье» - площадка с централизованной современной инженерной и транспортной инфраструктурой под размещение производств в Заволжском районе Ульяновска.</p>
                     <p>На территории «Заволжья» осуществляется реализация 19 инвестиционных проектов российских и зарубежных компаний с объёмом инвестиций более 44,6 млрд рублей. На 1 рубль бюджетных вложений в инфраструктуру промзоны приходится 18 рублей частных инвестиций и 7,55 рублей налоговых платежей.</p> 
                     <p>Парк сертифицирован как действующий индустриальный парк Ассоциацией индустриальных парков России.</p>
                     <p>Проект планировки парка разработан международной проектной  компанией “Assmann Beraten + Planen” (Германия), имеющей многолетний опыт планирования территорий промышленных предприятий в России и за рубежом. </p>
                </div>
            </div>
        </div>
        <div class="place-contact clearfix">
            <div class="place-contact-left">
                <div class="place-contact__name">Андрей Козин</div>
                <div class="place-contact__text">Директор департамента продвижения региона
                АО «Корпорация развития Ульяновской области»</div>
                <div class="place-contact__phone">+7 (8422) 73 70 01 доб. 118</div>
                <div class="place-contact__phone">+7 917 635 88 47</div>
                <a class="place-contact__mail" href="#">a.kozin@ulregion.com</a>
            </div>
            <div class="place-contact-center">
                <img class="place-contact__photo" src="/img/place-contact.png" alt="">
                <img class="place-contact__photo place-contact__photo--active" src="/img/place-contact-active.png" alt="">
            </div>
            <div class="place-contact-right">
                <div class="place-contact__title">Понравилась площадка?</div>
                <div class="place-contact__text-r">Позвоните Андрею - он подберет для<br>
                Вас идеальный участок в течении суток!<br>
                И расскажет свежий анекдот от Татьяны!</div>
            </div>

        </div>
    </div>
</div>