<div class="content-slider--inno">
    <div class="content-slider__one--inno pochemu-1">
        <div class="content-slider-fact">
            <div class="content-slider-fact__title">1. УНИКАЛЬНОЕ ГЕОГРАФИЧЕСКОЕ ПОЛОЖЕНИЕ</div>
            <div class="content-slider-fact__close"></div>
            <div class="content-slider-fact__text">
                Ульяновская область расположена на юго-востоке Европейской части России, в самом центре Приволжского федерального округа, создавая транспортно-логистический узел, через который проходит наиболее удобная и короткая дорога из Урала в Центральную Россию. Территория Ульяновской области составляет 37,2 тыс. км². Регион позволяет снизить транспортные издержки за счет формирования нового транзитного и распределительного узла. На территории  базируются международные логистические компании, действует уникальная Портовая особая экономическая зона. Регион позволяет снизить транспортные издержки за счет формирования нового транзитного и распределительного узла. На территории  базируются международные логистические компании, действует уникальная Портовая особая экономическая зона. 
            </div>
        </div>
    </div>
    <div class="content-slider__one--inno pochemu-2">
        <div class="content-slider-fact content-slider-fact--left">
            <div class="content-slider-fact__title">2. Развитая транспортная инфраструктура</div>
            <div class="content-slider-fact__close"></div>
            <div class="content-slider-fact__text">
                    Ульяновская область расположена на юго-востоке Европейской части России, в самом центре Приволжского федерального округа, создавая транспортно-логистический узел, через который проходит наиболее удобная и короткая дорога из Урала в Центральную Россию. Территория Ульяновской области составляет 37,2 тыс. км². Регион позволяет снизить транспортные издержки за счет формирования нового транзитного и распределительного узла. На территории  базируются международные логистические компании, действует уникальная Портовая особая экономическая зона. Регион позволяет снизить транспортные издержки за счет формирования нового транзитного и распределительного узла. На территории  базируются международные логистические компании, действует уникальная Портовая особая экономическая зона. 
            </div>
        </div> 
    </div>
    <div class="content-slider__one--inno pochemu-3">
        <div class="content-slider-fact">
            <div class="content-slider-fact__title">3. комфортные условия жизни</div>
            <div class="content-slider-fact__close"></div>
            <div class="content-slider-fact__text">
                Ульяновская область расположена на юго-востоке Европейской части России, в самом центре Приволжского федерального округа, создавая транспортно-логистический узел, через который проходит наиболее удобная и короткая дорога из Урала в Центральную Россию. Территория Ульяновской области составляет 37,2 тыс. км². Регион позволяет снизить транспортные издержки за счет формирования нового транзитного и распределительного узла. На территории  базируются международные логистические компании, действует уникальная Портовая особая экономическая зона. Регион позволяет снизить транспортные издержки за счет формирования нового транзитного и распределительного узла. На территории  базируются международные логистические компании, действует уникальная Портовая особая экономическая зона. 
            </div>        
        </div> 
    </div>
</div>
<div class="carusel-pager">
    <div class="carusel-pager-inn"></div>
</div>
<div class="place-descr place-descr--support" style="display: none; margin-top: -115px; margin-bottom: 115px;">
        <span>мы заинтересованы</span>
        <i>в вашем развитие</i>
        <a class="place-descr__order open_modal" href="#message">СВЯЖИТЕСЬ С НАМИ</a>
</div>