<div class="place-overlay">
    <div class="place-detail">
        <div class="place-detail-wrap">
            <div class="place-one" data-hash="project1">
                <div class="place-one-top">
                    <div class="place-one__title">Проект 1</div>
                    <div class="place-one__close">Х</div>
                </div>
                <div class="place-one__text">
                    <p>Промышленная зона «Заволжье» - площадка с централизованной современной инженерной и транспортной инфраструктурой под размещение производств в Заволжском районе Ульяновска.</p>
                     <p>На территории «Заволжья» осуществляется реализация 19 инвестиционных проектов российских и зарубежных компаний с объёмом инвестиций более 44,6 млрд рублей. На 1 рубль бюджетных вложений в инфраструктуру промзоны приходится 18 рублей частных инвестиций и 7,55 рублей налоговых платежей.</p> 
                     <p>Парк сертифицирован как действующий индустриальный парк Ассоциацией индустриальных парков России.</p>
                     <p>Проект планировки парка разработан международной проектной  компанией “Assmann Beraten + Planen” (Германия), имеющей многолетний опыт планирования территорий промышленных предприятий в России и за рубежом. </p>
                </div>
            </div>
            <div class="place-one" data-hash="project2">
                <div class="place-one-top">
                    <div class="place-one__title">Проект 2</div>
                    <div class="place-one__close">Х</div>
                </div>
                <div class="place-one__text">
                    <p>Промышленная зона «Заволжье» - площадка с централизованной современной инженерной и транспортной инфраструктурой под размещение производств в Заволжском районе Ульяновска.</p>
                     <p>На территории «Заволжья» осуществляется реализация 19 инвестиционных проектов российских и зарубежных компаний с объёмом инвестиций более 44,6 млрд рублей. На 1 рубль бюджетных вложений в инфраструктуру промзоны приходится 18 рублей частных инвестиций и 7,55 рублей налоговых платежей.</p> 
                     <p>Парк сертифицирован как действующий индустриальный парк Ассоциацией индустриальных парков России.</p>
                     <p>Проект планировки парка разработан международной проектной  компанией “Assmann Beraten + Planen” (Германия), имеющей многолетний опыт планирования территорий промышленных предприятий в России и за рубежом. </p>
                </div>
            </div>
            <div class="place-one" data-hash="project3">
                <div class="place-one-top">
                    <div class="place-one__title">Проект 3</div>
                    <div class="place-one__close">Х</div>
                </div>
                <div class="place-one__text">
                    <p>Промышленная зона «Заволжье» - площадка с централизованной современной инженерной и транспортной инфраструктурой под размещение производств в Заволжском районе Ульяновска.</p>
                     <p>На территории «Заволжья» осуществляется реализация 19 инвестиционных проектов российских и зарубежных компаний с объёмом инвестиций более 44,6 млрд рублей. На 1 рубль бюджетных вложений в инфраструктуру промзоны приходится 18 рублей частных инвестиций и 7,55 рублей налоговых платежей.</p> 
                     <p>Парк сертифицирован как действующий индустриальный парк Ассоциацией индустриальных парков России.</p>
                     <p>Проект планировки парка разработан международной проектной  компанией “Assmann Beraten + Planen” (Германия), имеющей многолетний опыт планирования территорий промышленных предприятий в России и за рубежом. </p>
                </div>
            </div>
            <div class="place-one" data-hash="project4">
                <div class="place-one-top">
                    <div class="place-one__title">Проект 4</div>
                    <div class="place-one__close">Х</div>
                </div>
                <div class="place-one__text">
                    <p>Промышленная зона «Заволжье» - площадка с централизованной современной инженерной и транспортной инфраструктурой под размещение производств в Заволжском районе Ульяновска.</p>
                     <p>На территории «Заволжья» осуществляется реализация 19 инвестиционных проектов российских и зарубежных компаний с объёмом инвестиций более 44,6 млрд рублей. На 1 рубль бюджетных вложений в инфраструктуру промзоны приходится 18 рублей частных инвестиций и 7,55 рублей налоговых платежей.</p> 
                     <p>Парк сертифицирован как действующий индустриальный парк Ассоциацией индустриальных парков России.</p>
                     <p>Проект планировки парка разработан международной проектной  компанией “Assmann Beraten + Planen” (Германия), имеющей многолетний опыт планирования территорий промышленных предприятий в России и за рубежом. </p>
                </div>
            </div>
        </div>
    </div>
</div>