<div class="side">
    <div class="mobile-close active"></div>
    <div class="side-wrap">
        <a href="/" class="side__logo">
            <img src="/img/logo.png" alt="">
        </a>

        <div class="side-menu">
            <a href="/pochemu.html" class="side-menu__one current">Почему ульяновск</a>
            <a href="/support.html" class="side-menu__one">поддержка</a>
            <a href="/place.html" class="side-menu__one">выбор площадки</a>
            <a href="/innovasion.html" class="side-menu__one">инновации</a>
            <a href="/news.html" class="side-menu__one">новости</a>
            <a href="/media.html" class="side-menu__one">медиа</a>
            <a href="/contact.html" class="side-menu__one">команда</a>
        </div>

        <div class="side-contact">
            <div>+ 7 (499) <span>346-73-03</span></div>
            <a href="#">info@ulregion.com</a>
        </div>

        <div class="side-social">
            <a href="#" class="side-social__one">f</a>
            <a href="#" class="side-social__one">t</a>
            <a href="#" class="side-social__one">B</a>
        </div>

        <div class="side-button">
            <a href="#order" class="side-button__call-order open_modal"></a>
            <a href="#message" class="side-button__message open_modal"></a>
        </div>

        <div class="side-lang">
            <a href="#" class="side-lang__one">eng</a>
            <a href="#" class="side-lang__one">de</a>
            <a href="#" class="side-lang__one current">ru</a>
            <a href="#" class="side-lang__one">中国</a>
            <a href="#" class="side-lang__one">fr</a>
        </div>
    </div>
</div>