<div class="support">
    <div class="support-text">
        <div class="support-text__top">АО “Корпорация развития ульяновской области”</div>
        <div class="support-text__top-sub">осуществдяет полное Сопровождение проектов в режиме <br> <span>одного окна</span> на всех стадиях.</div>
        <div class="support-text__middle"><span>единая команда</span></div>
        <div class="support-text__descr">Корпорация развития региона обеспечивает полное административное сопровождение проекта в режиме «ОДНОГО ОКНА». Для содействия реализации инвестиционного проекта создаётся <strong>проектная группа специалистов из сотрудников Корпорации развития, Правительства Ульяновской области и других государтсвенных структура.</strong> Группа решает все вопросы предпроектной подготовки, вопросы на стадии строительства и ввода предприятия в эксплуатацию.А также сопровождает весь дальнейший жизненный цикл предприятия, помогая развиваться, устанаваливать новые связи и расширять рынки сбыта. </div>
    </div>
    <div class="support-slider">
        <div class="support-slider-inn">
            <div class="support-slider-one" data-hash="1">
                <h3><span>1.</span> Организуем ваше посещение региона</h2>
                <p>Группа решает все вопросы предпроектной подготовки, вопросы на стадии строительства и ввода предприятия в эксплуатацию.А также сопровождает весь дальнейший жизненный цикл предприятия</p> 
            </div>
            <div class="support-slider-one" data-hash="2">
                <h3><span>2.</span> Организуем ваше посещение региона</h2>
                <p>Группа решает все вопросы предпроектной подготовки, вопросы на стадии строительства и ввода предприятия в эксплуатацию.А также сопровождает весь дальнейший жизненный цикл предприятия</p> 
            </div>
            <div class="support-slider-one" data-hash="3">
                <h3><span>3.</span> Организуем ваше посещение региона</h2>
                <p>Группа решает все вопросы предпроектной подготовки, вопросы на стадии строительства и ввода предприятия в эксплуатацию.</p> 
            </div>
        </div>
        <div class="support-slider__nav">
            <a class="active" href="#1">1</a>
            <a href="#2">2</a>
            <a href="#3">3</a>
        </div>
    </div>
    <div class="place-descr place-descr--support">
        <span>мы заинтересованы</span>
        <i>в вашем развитие</i>
        <a class="place-descr__order open_modal" href="#message">СВЯЖИТЕСЬ С НАМИ</a>
    </div>
</div>
